.k-i-arrow-60-down:before {
  content: "\e015";
  font-weight: 100;
}
/*
=============================================================
---------------------- Media Query --------------------------
=============================================================
*/
@media (max-width: 767px) {
  .main-header .logo {
    display: none;
  }
  .sidebar-menu {
    margin-top: -40px;
  }
  #user-menu {
    min-width: 56px;
  }
  .fa-user {
    visibility: visible;
  }
  #user-menu-options,
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 0;
    background-color: #F5F5F5;
  }
}
@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background: #f5f5f5 !important;
    right: 0 !important;
    left: auto !important;
  }
}
