# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.LojaRazor.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Mathe\OneDrive\Área de Trabalho\Projects\new\Razor\.idea\.idea.LojaRazor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
