.fa-user {
  visibility: hidden;
}
.fontawesome.box {
  border: none;
}
.dropdown-menu > li > a > .fa {
  margin-right: 2px !important;
}
.backup-printer-icon {
  z-index: 1;
  position: absolute;
  margin-top: 9px;
  margin-left: -14px;
  font-size: .675em;
  color: #000000;
}
.k-i-arrow-60-down:before {
  content: "\e015";
  font-weight: 100;
}
.k-i-arrow-60-down:before:hover {
  background-color: #3770bc;
}
.k-i-arrow-60-up:before {
  content: "\e013";
  font-weight: 100;
}
.k-i-arrow-60-up:before:hover {
  background-color: #3770bc;
}
.raphael {
  color: #264d81;
}
.raphael.k-state-border-down {
  background: none !important;
}
.tabline-report-printers,
.tabline-generic-reports {
  margin-bottom: 10px !important;
  margin-left: 15px;
  border: 0.5px solid #d3d3d3;
  margin: 0;
}
.k-ff .tabline-generic-reports {
  border-bottom: none;
}
