/*
=============================================================
--------------------------- IE ------------------------------
=============================================================
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sidebar-menu {
    line-height: 1.3 !important;
    white-space: normal !important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    top: 41.5px !important;
  }
  .main-header .navbar .nav > li.user > a > .fa,
  .main-header .navbar .nav > li.user > a > .glyphicon,
  .main-header .navbar .nav > li.user > a > .ion {
    margin-right: 0 !important;
    margin-top: 5px !important;
  }
  .user-menu .dropdown-toggle {
    max-height: 50px;
    /**/
  }
  .user-menu .dropdown-toggle #user-arrow {
    float: none !important;
  }
  .exportExcelMenu {
    padding: 0;
  }
  .exportExcelMenu .item {
    display: -ms-flexbox;
    margin-left: 25px;
  }
  .exportExcelMenu .content {
    padding-top: 15px;
    padding-left: 8px;
  }
  /**/
  #manageAccountsHelpMessage,
  #managePrintersHelpMessage,
  #manageCompanySettingsHelpMessage,
  #viewCostsHelpMessage,
  #canDownloadClientHelpMessage,
  #administratorHelpMessage,
  #managePrintersDealerHelpMessage,
  #manageCompaniesHelpMessage,
  #viewCostsHelpMessage,
  #manageCostsHelpMessage,
  #manageStockHelpMessage,
  #financialManagementHelpMessage,
  #closeTicketsHelpMessage {
    bottom: 2px !important;
  }
  .excel-tooltip[id*='exportExcelMenu_tt_active'] button {
    width: 90% !important;
  }
  #tableCounters .align-costs {
    width: 270px !important;
  }
  #selectDealerAlertPrintersGrid .check_row {
    visibility: hidden;
    margin-right: 12px;
  }
  #selectDealerAlertPrintersGrid #chkSelectAllDealerAlertPrinters {
    margin-left: auto;
    visibility: visible;
  }
}
