.fa-user {
  visibility: hidden;
}
.fontawesome.box {
  border: none;
}
.dropdown-menu > li > a > .fa {
  margin-right: 2px !important;
}
.backup-printer-icon {
  z-index: 1;
  position: absolute;
  margin-top: 9px;
  margin-left: -14px;
  font-size: .675em;
  color: #000000;
}
.k-i-arrow-60-down:before {
  content: "\e015";
  font-weight: 100;
}
.k-i-arrow-60-down:before:hover {
  background-color: #3770bc;
}
.k-i-arrow-60-up:before {
  content: "\e013";
  font-weight: 100;
}
.k-i-arrow-60-up:before:hover {
  background-color: #3770bc;
}
.raphael {
  color: #264d81;
}
.raphael.k-state-border-down {
  background: none !important;
}
body {
  line-height: unset;
  font-family: Segoe UI;
  color: #444444;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.content-wrapper {
  background-color: #eeeeee;
  padding-right: 25px !important;
  padding-bottom: 50px;
  overflow-x: auto;
}
.content-header {
  padding: 0 !important;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 35px !important;
}
.content-wrapper > .container-fluid {
  padding-left: 35px !important;
  padding-right: 0 !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.line-break {
  overflow-wrap: break-word;
}
.word-break {
  word-break: break-all;
}
.no-display {
  display: none;
}
.hidden-visibility {
  visibility: hidden;
}
.inline-block {
  display: inline-block;
}
.horizontal-align,
.timmy-box {
  display: flex;
  justify-content: center;
}
.vertical-align {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.silver-chalice {
  color: #a9a9a9;
}
.red {
  color: red;
}
#newPrinterDialog,
#printerCadastreConfirmationDialog {
  max-width: 815px !important;
}
#messageNoCustomersAddAcount {
  background-color: #fcedcb;
  border-color: #edaa0e;
  border-left: 3px solid;
  padding: 0 0 0 20px;
}
#messageValidationLogonName > span {
  float: left;
}
.skin-wayy .main-header .navbar {
  background-color: #264d81;
  max-height: 50px;
}
.skin-wayy .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-wayy .main-header .navbar .nav > li > a:hover,
.skin-wayy .main-header .navbar .nav > li > a:active,
.skin-wayy .main-header .navbar .nav > li > a:focus,
.skin-wayy .main-header .navbar .nav .open > a,
.skin-wayy .main-header .navbar .nav .open > a:hover,
.skin-wayy .main-header .navbar .nav .open > a:focus,
.skin-wayy .main-header .navbar .nav > .active > a {
  background: #3770bc;
  color: #ffffff;
}
.skin-wayy .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-wayy .main-header .navbar .sidebar-toggle:hover {
  color: #f5f5f5;
  background-color: #264d81;
}
.skin-wayy .main-header .logo {
  color: #ffffff;
  border-bottom: 0 solid transparent;
  background-color: #3770bc;
}
.skin-wayy .main-header .logo:hover {
  background-color: #3770bc;
}
.skin-wayy .content-header {
  background: transparent;
}
.skin-wayy .wrapper {
  background-color: #eeeeee;
}
.skin-wayy .user-panel > .info,
.skin-wayy .user-panel > .info > a {
  color: #ffffff;
}
.skin-wayy > .navbar-nav > li > a {
  padding-top: unset !important;
}
.main-header .sidebar-toggle:before {
  content: '';
}
.sidebar-menu {
  white-space: unset !important;
  font-family: 'Segoe UI';
}
.skin-wayy .sidebar-menu > li.header {
  color: #4b646f;
}
.skin-wayy .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-size: 14px;
}
.skin-wayy .sidebar-menu > li.menu-open > a,
.skin-wayy .sidebar-menu > li:hover > a,
.skin-wayy .sidebar-menu > li.menu-open > .treeview-menu {
  background: #e5e5e5;
}
.skin-wayy .sidebar-menu > li.menu-open > .treeview-menu > li a:hover {
  background: #f5f5f5;
}
.skin-wayy .main-sidebar,
.skin-wayy .left-side {
  background-color: #ffffff;
}
.current-selected {
  background-color: #d2e0f2;
}
.skin-wayy .sidebar-menu > li.current-selected > a {
  color: #264d81;
  border-left-color: #264d81;
}
.skin-wayy .sidebar-menu > li.current-selected > .treeview-menu {
  background-color: #d2e0f2 !important;
}
.skin-wayy .sidebar-menu > li.current-selected > .treeview-menu > li a:hover {
  background-color: #e1eaf6;
}
.sidebar-mini.sidebar-collapse .current-selected a {
  background-color: #d2e0f2 !important;
}
.skin-wayy .sidebar-menu > li.current-selected > a {
  background-color: #d2e0f2 !important;
}
.skin-wayy .sidebar a {
  color: #444444;
}
.skin-wayy .sidebar a:hover {
  text-decoration: none;
}
.skin-wayy .sidebar-menu .treeview-menu > li > a {
  color: #444444;
}
.treeview > a,
.sidebar-menu > li > a {
  padding-left: 10px !important;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
.logo-lg,
.logo-mini {
  max-height: 50px;
  position: relative;
  top: 25%;
}
.logo-mini .sidebar-toggle {
  float: unset;
  color: #ffffff;
  font-size: 14px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu .treeview-menu > li > a,
.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  background-color: #e5e5e5;
}
.sidebar-mini.sidebar-collapse #alert-amount {
  margin-left: -25px;
  position: absolute;
  margin-top: -1px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  width: 220px !important;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
  left: 220px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  width: 220px !important;
}
.sidebar-mini.sidebar-collapse .treeview-menu > li > a {
  padding: 5px 5px 5px 15px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
  padding-left: 15px !important;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li.current-selected > .treeview-menu > li a:hover {
  background-color: #e1eaf6 !important;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li.current-selected > .treeview-menu > li.active > a {
  background-color: #e1eaf6 !important;
  font-weight: 600;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li > .treeview-menu > li a:hover {
  background-color: #f5f5f5 !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu .treeview > a > .pull-right-container {
  color: transparent;
}
.skin-wayy .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
  background-color: #e1eaf6;
}
#alert-amount {
  margin-left: 10px;
  margin-right: 10px;
}
#logo-dealer {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#resale-logo #logo-dealer {
  display: block !important;
  background-color: #dbdbdb;
}
.treeview-menu > li > a {
  padding: 5px 5px 5px 32px !important;
}
.label-wayy {
  background-color: #6c98d4;
  padding: .3em .3em .3em .3em !important;
  min-width: 18px;
}
.label-leaf {
  margin-top: 2.4px;
  margin-right: 0 !important;
}
.treeview-menu > .label-wayy {
  margin-top: 8px;
}
.label-wayy-container > .label-wayy:last-of-type {
  margin-right: 4px;
}
#SupportTicketsWithoutResponsibleLabelAmountRoot,
#SupportTicketsWithoutResponsibleLabelAmountLeaf {
  background-color: #d4a86c;
}
.menu-open .label-wayy-container .label-wayy {
  display: none;
}
.sidebar-mini.sidebar-collapse .label-wayy {
  display: none;
}
.new-feature {
  margin-top: 2px;
  background-color: #d4a86c;
  height: 17px;
  line-height: 13px;
  font-size: 8px;
}
.beta-feature {
  margin-top: 2px;
  background-color: #d4a86c;
  height: 17px;
  line-height: 13px;
  font-size: 8px;
  font-size: 9px;
}
#user-menu {
  min-width: 220px;
  background-color: #3770bc;
}
#user-menu a:first-child {
  text-align: center;
}
#user-menu-options {
  right: unset;
  font-family: 'Segoe UI';
  background-color: #ffffff !important;
}
#user-menu-options > li a {
  color: #444444 !important;
}
.user-padding-option {
  margin: 0 0 0 14px;
  border-bottom: 1px solid #444444 !important;
  padding-bottom: 8px;
}
#user-menu-option a {
  padding: 3px 0 !important;
}
#user-email {
  margin-right: 14px;
  font-family: Segoe UI;
}
#user-arrow {
  margin-right: unset;
  margin-top: 3px;
}
.dropdown-menu > li > a {
  color: #444444;
  border-bottom: 1px solid #444444;
  padding-bottom: 8px;
  padding-left: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li:hover {
  background-color: #e5e5e5;
}
#logout {
  border-bottom: unset;
}
/* ------------------------------ Hovers menu ------------------------------*/
#pending-trades-hover,
#alerts-notifications-hover,
#printers-notifications-hover {
  height: 10px;
}
#logout-div-hover,
#download-printwayy-hover,
#change-password-hover,
#my-settings-hover {
  height: 8px;
  margin-right: 16px;
}
#logout-div-hover:hover,
#download-printwayy-hover:hover,
#change-password-hover:hover,
#my-settings-hover:hover {
  cursor: pointer;
}
#logout-div,
#download-printwayy,
#change-password,
#my-settings {
  margin-right: 16px;
}
#logout-div:hover,
#download-printwayy:hover,
#change-password:hover,
#my-settings:hover {
  cursor: pointer;
}
.dropdown-hover-base,
#logout-div-hover:hover,
#download-printwayy-hover:hover,
#change-password-hover:hover,
#my-settings-hover:hover,
#logout-div-hover:hover ~ #logout-div,
#download-printwayy-hover:hover ~ #download-printwayy,
#change-password-hover:hover ~ #change-password,
#my-settings-hover:hover ~ #my-settings,
#printers-notifications-hover:hover,
#alerts-notifications-hover:hover,
#pending-trades-hover:hover,
#printers-notifications-hover:hover ~ #printers-notifications,
#alerts-notifications-hover:hover ~ #alerts-notifications,
#pending-trades-hover:hover ~ #pending-trades {
  cursor: pointer;
  background-color: #f5f5f5 !important;
}
/* ---------------------------- Notificações menu -----------------------------*/
#web-notifications-wrapper {
  font-family: 'Segoe UI';
  font-size: 13.4px;
}
.web-notification {
  background-color: #ffffff;
  padding-left: 15px !important;
  padding-right: 15px !important;
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}
.web-notification:hover {
  background-color: #e5e5e5;
  color: #444444;
}
.web-notification-icon {
  position: absolute;
}
.web-notification-icon.fa-print {
  margin-top: 20px;
}
.web-notification-icon.fa-exclamation-triangle {
  margin-top: 36px;
}
.web-notification-icon.fa-align-left {
  margin-top: 20px;
}
.web-notification:last-child {
  margin-bottom: 0;
}
.web-notification-text {
  margin-left: 20px;
  padding: 8px 0 8px 0;
}
.web-notification-text ul {
  padding-left: 18px;
}
.border-notification {
  height: 1px;
  border-bottom: 1px solid #444444;
  margin-left: 15px;
  margin-right: 15px;
}
#notification-amount {
  font-weight: bold;
}
.notification-item > p {
  line-height: 16px;
}
.notification-item {
  border-bottom: 1px solid #444444 !important;
  padding-left: 15px !important;
}
.notification-ul > li:hover {
  background-color: #e5e5e5 !important;
  cursor: pointer;
}
#notification-amount,
.notification-item {
  padding-bottom: 2px;
  margin-left: 15px !important;
  margin-right: 10px !important;
}
.print-notification > li {
  margin-left: -24px !important;
}
.print-notification {
  padding-bottom: 8px;
}
.print-notification li {
  padding-top: 10px;
}
.print-notification li:first-child {
  padding-top: 0;
}
.notification-ul {
  background-color: white;
  font-size: 13.4px;
}
li.header {
  margin-top: 10px;
}
.navbar-nav .user:before {
  content: '' !important;
}
.dropdown-header > span {
  background-color: transparent;
}
.comparatorConditionsDropDown,
.comparatorConditionsDropDown .k-dropdown-wrap,
.columnConditionsDropDown {
  border-left: none !important;
}
.columnConditionsDropDown,
.customFilterDropDown {
  width: 250px;
}
.comparatorConditionsDropDown {
  width: 200px;
}
.customFilterDropDown {
  margin: 2px 0 0 10px;
  height: 36px;
}
.customFilterDropDown .k-dropdown-wrap {
  height: 34px;
}
.customFilterDropDown .k-dropdown-wrap .k-input {
  padding: 5px 0;
}
.customFilterDropDown .k-dropdown-wrap .k-select .k-icon {
  margin-top: 4px;
}
.columnToOrderReportColumns {
  width: 327px;
}
.columnToOrderReportColumns,
.orderTypeToReportColumns,
.orderTypeToReportColumns .k-dropdown-wrap {
  border-left: none !important;
}
/**/
.combobox-wayy {
  position: absolute;
  margin-top: -42px;
  margin-left: 150px;
}
#select-customer-dashboard,
#select-customer {
  display: inline-block;
  position: relative;
  border: 1px solid #dbdbdb;
  border-left: 3px solid #dbdbdb;
  cursor: pointer;
  background-color: transparent;
  color: #264d81;
  padding: 2px 20px 4px 8px;
}
#select-customer-dashboard:hover,
#select-customer:hover {
  color: #3770bc;
}
#select-customer-dashboard #customer-label,
#select-customer #customer-label {
  border-right: 1px solid #dbdbdb;
  padding: 3.5px 15px 3.5px 0;
}
#select-customer-dashboard .k-combobox,
#select-customer .k-combobox {
  margin-top: 2px;
  border-left-width: 1px;
}
#select-customer-dashboard .k-combobox .k-select,
#select-customer .k-combobox .k-select {
  border-right: 1px solid #dbdbdb;
}
#select-customer-dashboard:not(.collapsed),
#select-customer:not(.collapsed) {
  margin-top: -7px;
}
.cmb-customers-printers {
  margin-left: 100px;
}
#customer-printer-header ~ .combobox-wayy {
  margin-left: 160px;
}
/*
#customers-list {
    position: relative;
    bottom: 7px;
    width: 250px;
}
*/
.cmbCustomers {
  font-size: 14px;
}
#customers-list > span > span > span > span {
  color: #ffffff;
}
#customers-list > span > span > span > span {
  color: #444444;
}
.search-container {
  margin-top: 3px;
  display: inline-block;
}
.search-container > span.txt-filter {
  margin-bottom: 2px;
}
.txt-filter {
  border-color: #264d81 !important;
  border-bottom: 1px solid #264d81 !important;
  border-top: 1px solid #264d81;
  border-right: 1px solid #264d81;
  border-left: 3px solid #264d81;
}
.txt-filter:hover {
  background: #3770bc;
  border-color: #3770bc;
}
.txt-filter input.txt-filter {
  cursor: default;
  background: #ffffff !important;
  height: 26px !important;
  border-bottom: none !important;
}
.header-wayy {
  background-color: #ffffff;
  border-left: 3px solid #264d81;
  color: #264d81;
  height: 39.5px;
  font-family: Segoe UI;
  margin-bottom: 30px;
}
.header-wayy > h3 {
  font-weight: bold;
  line-height: 39.5px;
  margin-left: 7px;
  font-size: 21px;
}
.dashboardBox .box-title {
  border-bottom: 1px solid #dbdbdb;
  background-color: #f5f5f5 !important;
  border-radius: unset;
  color: #444444 !important;
  font-weight: bold;
  padding: 5px 10px;
}
.dashboardBox .box-content {
  padding: 5px;
  background-color: #ffffff;
  border-top: none;
}
.box {
  border: 1px solid #dbdbdb;
}
.box .box-title {
  color: #264d81;
  font-weight: bold;
  background-color: #e1eaf6;
  border-radius: 0;
  padding: 10px;
}
.box .box-content {
  background-color: #ffffff;
  border-color: #dbdbdb;
  padding: 10px;
}
.resaleGeneralSettingsTab .box {
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}
.resaleGeneralSettingsTab .box .box-content {
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.info-message {
  color: #ffffff;
  background-color: #3770bc;
  border-left: 3px solid #264d81;
}
.info-message span {
  margin-left: 3px;
}
.info-message a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
.supply-level-chart-info {
  width: 410px;
}
.infobox {
  background-color: #ffffff;
  border: none;
  color: #444444;
}
.infobox .box-message div label {
  color: #444444;
}
.infobox .informative-header {
  min-height: 30px;
  background-color: #3770bc;
  color: #ffffff;
  font-weight: bold;
}
.infobox .informative-header p {
  line-height: 30px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 0;
}
.infobox .informative-message {
  border: 1px solid #3770bc;
  padding: 5px;
}
#newPrinterDialog .informative-box {
  width: 800px;
}
.warning-box {
  background-color: #f2dede;
}
.warning-box .box-message {
  color: #a94442;
  border-left: 3px solid #a94442;
  padding: 15px 30px 15px 65px;
}
.warning-box span {
  color: #a94442;
  top: 10px;
}
.errorbox .box-message {
  margin-left: 75px;
  padding-bottom: 8px;
}
.errorbox .box-message p {
  margin-top: 5px;
}
.errorbox i {
  font-size: 18px;
  top: 18px;
  left: 15px;
  position: relative;
}
#selectContractPrintersDialog .errorbox .small-box-message {
  padding-top: 14px;
}
.simple-dialog-box {
  max-width: 700px;
}
.simple-dialog-box .simple-dialog-box-content {
  position: relative;
}
.simple-dialog-box .simple-dialog-box-content div {
  margin-top: 10px;
}
.info-message-yellow {
  color: #444444;
  background-color: #fcedcb;
  border-left: 3px solid #edaa0e;
}
.info-message-yellow span {
  margin-left: 3px;
}
.info-message-yellow a {
  color: #444444;
  font-weight: bold;
  text-decoration: underline;
}
td {
  padding: 2px;
}
#printerFleetGrid,
#divPrintersActionMenu,
#DivPrintersGrid,
#divGrid,
#pendingExchangesGrid,
#estimatesGrid,
#divGridConfirmed,
#DivgridAllStockItems,
#DealerStockGrid,
#TechStockGrid,
#Grid,
#closedTicketsGrid,
#accountsGrid,
#gridEmailNotifications,
#gridReportsByEmail,
#alertsRulesGrid,
#stockTypesGrid,
#brandsGrid,
#suppliersGrid,
#dealerServicesGrid,
#ticketTypesGrid,
#dealerDepartmentsGrid,
#dealerAlertsGrid,
#gridStockEntries,
#dealerStockItemsGrid,
#companiesGrid,
#newDetectedPrintersGrid,
#contractsGrid,
#underReviewAlertsGrid,
#ignoredAlertsGrid,
#printersGrid {
  margin-top: 10px;
}
table.kanban {
  border-spacing: 0;
}
table.kanban td,
table.kanban th {
  border-width: 1px;
  border-left-style: solid;
  border-color: #dbdbdb;
  padding-left: 4px;
  padding-right: 4px;
}
table.kanban th {
  padding-bottom: 4px;
}
table.kanban td {
  border-top-style: solid;
  vertical-align: top;
  padding-top: 4px;
}
.ajust {
  background-color: #e1eaf6;
}
.ajust-line {
  overflow: hidden;
  width: 80px;
  float: right;
  white-space: nowrap;
}
.api-token-container {
  width: 1130px;
}
.pull-right-container {
  right: 0 !important;
}
.small-label-container {
  width: 60px;
  padding-left: 0 !important;
}
.small-label-container .text-center-vertically {
  line-height: 30px;
}
.default-datepicker-container {
  width: 220px;
}
.default-datepicker-container .text-center-vertically {
  line-height: 30px;
}
.small-button-container {
  width: 200px;
}
.small-button-container .text-center-vertically {
  line-height: 30px;
}
.pretty-small-label-container {
  width: 10px;
}
.pretty-small-label-container .text-center-vertically {
  line-height: 30px;
}
.email-general-settings-button-container {
  margin-top: 15px;
}
#no-notification-container {
  text-align: center;
}
#no-notification-container h4 span {
  font-size: 14px;
  font-family: 'Segoe UI';
}
.automatic-refresh-container {
  float: right;
  margin-top: -40px;
}
.automatic-refresh-container > * {
  float: right;
}
.automatic-refresh-container #automaticRefreshHelpMessage {
  margin: -2px 5px 0 0;
}
.automatic-refresh-container .combobox-refresh-container {
  margin-right: 10px;
}
.label-container {
  margin-right: 10px;
}
.label-between-dates {
  margin: 0 9px 0 9px;
}
.date-validation-message,
.label-between-dates,
.customer-label-container,
.label-container {
  line-height: 30px;
}
#scan-by-printer-container .customer-label-container {
  margin-right: 14px;
}
#scan-by-printer-container .period-container {
  margin-top: 5px;
}
#invoice-report-setting-container {
  margin-top: 15px;
}
#invoice-title-container {
  width: 370px;
  float: left;
}
#invoice-title-container .form-control {
  height: 14px;
  padding-right: 0;
  padding-left: 5px;
}
#character-counter-container {
  margin: 4px  0  0  15px;
  float: left;
}
#closedAlertsForm {
  padding-top: 5px;
  padding-right: 5px;
}
#closedAlertsForm .k-datepicker {
  width: 125px;
}
.timmy-box {
  background-color: #ffffff;
  height: 400px;
}
.timmy-title {
  color: #3770bc;
  font-size: 19px;
  font-weight: 700;
  padding-left: 45px;
  margin-bottom: -10px;
}
.timmy-bottom-message {
  color: #a9a9a9;
  font-size: 16px;
  font-family: 'Segoe UI';
}
.timmy-face,
.timmy-line,
.timmy-title,
.timmy-bottom-message {
  text-align: center;
}
.GrayBehind {
  opacity: 0.1;
}
.center-text {
  text-align: center;
}
.clip-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.clip-each {
  position: relative;
}
.clip-each:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  z-index: -1;
}
.clip-each,
.clip-each:after {
  -webkit-clip-path: polygon(5% 75%, 5% 0, 100% 0, 100% 100%, 5% 100%, 5% 78%, 0 70%);
  clip-path: polygon(5% 75%, 5% 0, 100% 0, 100% 100%, 5% 100%, 5% 78%, 0 70%);
}
.border-style-thin {
  background-color: #3770bc;
}
.border-style-thin:after {
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}
.bottonTxt {
  color: #a9a9a9;
  font-size: 16px;
  font-family: 'Segoe UI';
  text-align: center;
  margin-top: 170px;
  position: absolute;
}
.OnTheLeft {
  font-weight: 500;
  text-align: left;
  padding-bottom: 8px;
  font-family: 'Segoe UI';
  font-size: 15px;
  padding-left: 41px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #3770bc;
  border-radius: 50%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
main {
  background-color: #ffffff;
  padding-top: 150px;
  width: 100%;
  height: 400px;
}
.flex-centralized {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.midText {
  color: #3770bc;
  font-size: 24px;
  font-family: 'Segoe UI';
  padding-left: 60px;
}
.linkText {
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: #6c98d4;
}
.dialogTile {
  color: #3770bc;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.TimmyButton {
  border: 1px solid transparent;
  background-color: #6c98d4;
  border-color: #6c98d4;
  color: #ffffff;
  display: block;
  margin: 5px auto;
  border-radius: 25px;
  font-size: 14px;
  border-width: 3px;
  outline: none;
  width: 210px;
  height: 25px;
  -moz-transition: all .3s !important;
  -o-transition: all .3s !important;
  -webkit-transition: all .3s !important;
  transition: all .3s !important;
}
.TimmyButton:hover {
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.wrapper {
  position: relative;
}
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.behind {
  -webkit-filter: opacity(0.2) blur(5px);
  filter: opacity(0.2) blur(5px);
}
.GrayBehind {
  -webkit-filter: blur(3px) grayscale(1);
  -moz-filter: blur(3px) grayscale(1);
  -ms-filter: blur(3px) grayscale(1);
  filter: blur(3px) grayscale(1);
}
.TimmyDialogs {
  border: 4px solid;
  border-color: #3770bc;
}
.center {
  text-align: center;
}
.MidText {
  letter-spacing: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.TimmyDashboard {
  margin-bottom: 25px;
  margin-left: 145px;
  color: #264d81;
  font-size: 24px;
  font-weight: 700;
}
#secondTxtTimmyDashboard {
  color: #3770bc;
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: 700;
  margin-top: 18px;
}
#ThirdTxtTimmyDashboard {
  font-size: 14px;
  font-family: 'Segoe UI';
  font-weight: 500;
  margin-top: 100px;
}
#ButtonsTimmyDashboard {
  margin-top: 15px;
}
.greenTxt {
  height: 50px;
  width: 280px;
  display: inline-block;
  line-height: 25px;
  color: #70bc37;
  font-size: 16px;
  font-weight: 700;
}
.DashButton {
  width: 240px;
  height: 30px;
}
.leftButton {
  float: left;
}
.rightButton {
  float: right;
}
#disableButton {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}
.TxtTimmySelect {
  color: #3770bc;
  font-size: 20px;
  font-weight: 700;
}
.noUndedrline {
  text-decoration: none;
}
/*
==============================================
------- Timmy Tickets Without Clients --------
==============================================
*/
#timmy-tickets-without-clients-container {
  height: 550px;
}
#timmy-tickets-without-clients-container .clip-each {
  height: 278px;
  width: 520px;
  margin-top: 100px;
}
#timmy-tickets-without-clients-container .timmy-image {
  margin-top: 180px;
}
#timmy-tickets-without-clients-container .bottonTxt {
  margin-top: 385px;
  margin-left: 70px;
}
/*
==============================================
-------- Timmy Without Open Tickets ----------
==============================================
*/
#timmy-without-open-tickets-container .timmy-mid-message {
  margin-top: 105px;
  margin-left: 70px;
  font-weight: 500;
  color: #000000;
}
#timmy-without-open-tickets-container .timmy-bottom-message {
  margin-top: 135px;
  margin-left: 70px;
}
#timmy-without-open-tickets-container .timmy-title {
  margin-top: 60px;
}
#timmy-without-open-tickets-container .timmy-title .dialogTile {
  padding: 0;
  margin-bottom: -10px;
  margin-left: 40px;
}
#timmy-without-open-tickets-container .timmy-title .timmy-line {
  width: 550px;
  height: 15px;
}
/*
==============================================
-------- Timmy Without Customer ----------
==============================================
*/
#timmy-without-customer-container .clip-each {
  height: 165px;
  width: 376px;
}
/*
==============================================
------------- Timmy Printer Fleet ------------
==============================================
*/
#timmy-printer-fleet-container {
  height: 550px;
}
#timmy-printer-fleet-container .timmy-image {
  margin-top: 45px;
}
#timmy-printer-fleet-container .clip-each {
  height: 250px;
  width: 560px;
}
#timmy-printer-fleet-container .bottonTxt {
  margin-top: 260px;
  margin-left: 70px;
}
/*
==============================================
-------- Timmy New Printers Fleet ------------
==============================================
*/
#timmy-printer-new-printers-detected .dialogTile {
  padding-top: 70px;
  padding-bottom: 0;
  margin-bottom: -10px;
}
#timmy-printer-new-printers-detected .timmy-line {
  width: 655px;
  height: 15px;
}
#timmy-printer-new-printers-detected .bottonTxt {
  margin-top: 110px;
  margin-left: 70px;
}
/*
==============================================
------ Timmy Supply No Pending Exchange ------
==============================================
*/
#timmy-supply-no-pending-exchange-container .dialogTile {
  padding: 0;
  margin-bottom: -10px;
  margin-left: 50px;
}
#timmy-supply-no-pending-exchange-container .bottonTxt {
  margin-top: 105px;
  margin-left: 80px;
}
#timmy-supply-no-pending-exchange-container .timmy-title {
  margin-top: 60px;
}
#timmy-supply-no-pending-exchange-container .timmy-line {
  width: 540px;
  height: 15px;
}
/*
==============================================
------------ Timmy Stock All Items -----------
==============================================
*/
#timmy-stock-all-items-container .clip-each {
  height: 207px;
  width: 440px;
}
#timmy-stock-all-items-container .timmy-image {
  margin-top: 45px;
}
#timmy-stock-all-items-container .bottonTxt {
  margin-top: 215px;
  margin-left: 70px;
}
/*
==============================================
------------- Timmy Stock Entries ------------
==============================================
*/
#timmy-stock-entries-container .clip-each {
  height: 175px;
  width: 465px;
}
#timmy-stock-entries-container .bottonTxt {
  margin-top: 185px;
  margin-left: 70px;
}
/*
==============================================
--- Timmy Printer Clients Without Printers ---
==============================================
*/
#timmy-printer-clients-without-printers-container {
  height: 550px;
}
#timmy-printer-clients-without-printers-container .clip-each {
  height: 300px;
  width: 540px;
}
#timmy-printer-clients-without-printers-container .timmy-image {
  margin-top: 90px;
}
#timmy-printer-clients-without-printers-container .bottonTxt {
  margin-top: 300px;
  margin-left: 70px;
}
/*
==============================================
-------- Timmy Stock Customers Items ---------
==============================================
*/
#timmy-stock-customer-items-container .clip-each {
  height: 155px;
  width: 675px;
  padding-left: 18px;
}
#timmy-stock-customer-items-container .bottonTxt {
  margin-top: 160px;
  margin-left: 70px;
}
/*
==============================================
-------- Timmy Stock Technical Items ---------
==============================================
*/
#timmy-stock-technical-items .clip-each {
  height: 155px;
  width: 675px;
  padding-left: 18px;
}
#timmy-stock-technical-items .bottonTxt {
  margin-top: 160px;
  margin-left: 70px;
}
/*
==============================================
-------- Timmy Stock Dealer Items ---------
==============================================
*/
#timmy-stock-dealer-itens-container .clip-each {
  height: 155px;
  width: 675px;
  padding-left: 18px;
}
#timmy-stock-dealer-itens-container .bottonTxt {
  margin-top: 160px;
  margin-left: 70px;
}
/*Garante que o icone do timmy não seja atualizado para o font-awesome 5*/
.linkText > .fontawesome {
  font-family: Fontawesome !important;
  display: inline-block;
}
/*
==============================================
-------- Timmy Generic Report Filters ---------
==============================================
*/
#timmyGenericReports .flex-centralized {
  padding-top: 0;
  height: 600px;
}
#timmyGenericReports .flex-centralized .timmy-image {
  margin-top: 250px;
}
#timmyGenericReports .flex-centralized .clip-each {
  height: 240px;
  margin-top: 190px;
  padding: 30px;
}
/**Regras específicas para IE e Edge*/
.k-edge .border-style-thin,
.k-ie .border-style-thin {
  background-color: #ffffff;
  margin-left: 20px;
}
.k-edge .clip-wrap,
.k-ie .clip-wrap {
  border: 2.5px solid #3770bc;
}
/*
==============================================
-------------- Internet Explorer -------------
==============================================
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #timmy-tickets-without-clients-container .bottonTxt {
    margin-left: -510px;
  }
  #timmy-without-open-tickets-container .bottonTxt {
    margin-left: -490px;
  }
  #timmy-without-open-tickets-container .timmy-bottom-message {
    margin-left: -490px;
  }
  #timmy-without-customer-container .bottonTxt {
    margin-top: 150px;
    margin-left: -490px;
  }
  #timmy-printer-fleet-container .bottonTxt {
    margin-top: 250px;
    margin-left: -515px;
  }
  #timmy-supply-no-pending-exchange-container .bottonTxt {
    margin-left: -490px;
  }
  #timmy-stock-all-items-container .bottonTxt {
    margin-top: 195px;
    margin-left: -400px;
  }
  #timmy-stock-entries-container .bottonTxt {
    margin-top: 175px;
    margin-left: -460px;
  }
  #timmy-printer-clients-without-printers-container .bottonTxt {
    margin-top: 245px;
    margin-left: -515px;
  }
  #timmy-stock-customer-items-container .bottonTxt {
    margin-top: 150px;
    margin-left: -535px;
  }
  #timmy-stock-technical-items .bottonTxt {
    margin-left: -535px;
  }
  #timmy-printer-new-printers-detected .bottonTxt {
    margin-top: 110px;
    margin-left: -540px;
  }
  .GrayBehind {
    opacity: 0.03 !important;
  }
  #timmyUseIndicator .bottonTxt {
    margin-left: 80px;
  }
  #divTimmyExcluded .bottonTxt {
    margin-left: 50px;
  }
  #timmyReportsByEmail .bottonTxt {
    margin-left: 110px;
  }
}
/*
==============================================
--------------- Microsfot Edge ---------------
==============================================
*/
@supports (-ms-ime-align: auto) {
  #timmy-printer-fleet-container .bottonTxt {
    margin-left: 135px;
  }
  #timmy-stock-entries-container .bottonTxt {
    margin-top: 195px;
    margin-left: 130px;
  }
  #alertsGroups #EspecificBottonTxt.bottonTxt {
    margin-left: 150px;
  }
  #timmy-supply-no-pending-exchange-container .bottonTxt {
    margin-left: 150px;
  }
  #timmy-stock-all-items-container .bottonTxt {
    margin-left: 150px;
  }
  #timmy-tickets-without-clients-container .bottonTxt {
    margin-left: 140px;
  }
  #timmy-printer-clients-without-printers-container .bottonTxt {
    margin-top: 270px;
    margin-left: 140px;
  }
}
/*
==============================================
------------- Consagrado Firefox -------------
==============================================
*/
@-moz-document url-prefix() {
  #timmy-printer-fleet-container .bottonTxt {
    margin-left: 135px;
  }
  #timmy-tickets-without-clients-container .bottonTxt {
    margin-left: 140px;
  }
  #timmy-without-open-tickets-container .timmy-mid-message {
    margin-left: 130px;
  }
  #timmy-without-open-tickets-container .timmy-bottom-message {
    margin-left: 130px;
  }
  #timmy-supply-no-pending-exchange-container .bottonTxt {
    margin-left: 140px;
  }
  #timmy-stock-all-items-container .bottonTxt {
    margin-left: 140px;
  }
  #timmy-stock-entries-container .bottonTxt {
    margin-left: 140px;
  }
  #alertsGroups #EspecificBottonTxt.bottonTxt {
    margin-left: 150px;
    margin-top: 110px;
  }
  #EspecificBottonTxtEstimate.bottonTxt {
    margin-left: 55px;
  }
  #divTimmyExcluded #EspecificBottonTxtExcluded.bottonTxt {
    margin-left: 50px;
  }
  #timmyReportsByEmail #EspecificBottonTxtEmailReports.bottonTxt {
    margin-left: 110px;
  }
}
.comparatorTotals p,
.comparatorStyle {
  cursor: default;
}
.removeCondition {
  margin: 0 10px;
  color: #3770bc;
  cursor: pointer;
  font-size: 18px;
}
.betweenSpan {
  margin: 0 5px;
}
.reportNameSpan {
  font-weight: normal;
}
#reportFilterNotSavedName,
#reportFilterWithChangesNotSavedName {
  font-weight: bold;
}
.spotlight-warning {
  font-weight: bold;
  background-color: #fcedcb;
}
.removeInvoices .iconToChange {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.tile {
  background-color: #ffffff;
  color: #444444;
  width: 110px;
  height: 100px;
  position: relative;
  display: inline-table;
  padding: 0 9px 10px 9px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #c7c7c7;
  border-left: 4px solid #f5f5f5;
}
.tile-number {
  font-size: 2.7em;
}
.tile-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.tile-chart {
  display: inline-block;
  height: 100px;
  vertical-align: top;
  background-color: white;
  padding: 5px 3px 5px 0;
  box-shadow: 1px 1px 1px #c7c7c7;
}
.dashboard-tiles > a:hover {
  color: #444444;
}
.dashboard-tiles .tile {
  margin-bottom: 15px;
}
.dashboard-tiles .tile .tile-description {
  left: 9px;
  right: 9px;
}
.big-tile {
  margin-right: 10px;
  display: inline-block;
}
.big-tile .tile {
  margin-right: 0 !important;
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 0 0 #ffffff, 1px 1px 1px #c7c7c7;
}
.big-tile .tile-chart:last-child {
  border-radius: 0 5px 5px 0;
}
.dashboard-tiles a:last-child {
  margin-right: 0;
}
.supply-tile {
  background-color: #264d81;
  color: #ffffff;
  width: 162px;
  height: 45px;
  position: relative;
  display: inline-table;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 4px;
}
.exchange-timeline-tile {
  background-color: #264d81;
  color: #ffffff;
  width: 114px;
  height: 45px;
  position: relative;
  display: inline-table;
  padding: 5px;
  margin-left: 3px;
  margin-top: 3px;
}
.supply-tile-number {
  font-size: 1.7em;
}
.supply-tile-description {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-size: 11px;
}
.ticket-link:hover {
  color: #444444;
}
.ticket-box {
  background-color: #ffffff;
  box-shadow: 0 0 1px #c7c7c7;
  margin: 2px 2px 5px 2px;
  position: relative;
  height: 75px;
  border-radius: 5px;
}
.ticket-color-bar {
  width: 6px;
  height: 100%;
  position: absolute;
  border-radius: 5px 0 0 5px;
}
.ticket-box-content {
  padding: 2px 4px 4px 11px;
  position: relative;
}
.ticket-box-title,
.ticket-box-customer,
.ticket-box-responsible {
  position: absolute;
  left: 10px;
  right: 4px;
}
.ticket-box-title {
  top: 3px;
}
.ticket-box-customer {
  top: 21px;
}
.ticket-box-sla {
  position: absolute;
  top: 39px;
  left: 10px;
  right: 4px;
  display: table-row;
}
.ticket-box-sla.ticket-box-sla-timedout {
  background-color: #ffdfdf;
  border: 1px solid #ffd3d3;
  border-radius: 3px;
}
.ticket-box-sla-clock {
  display: table-cell;
  padding-right: 4px;
  font-size: 1.2em;
}
.ticket-box-sla-bar-wrapper {
  display: table-cell;
  width: 100%;
}
.ticket-box-sla-bar {
  height: 8px;
  border: 1px solid #c7c7c7;
}
.ticket-box-sla-text {
  display: table-cell;
  padding-left: 4px;
}
.ticket-box-sla-timedout .ticket-box-sla-text {
  color: red;
  font-weight: bold;
}
.ticket-box-no-sla .ticket-box-sla-text {
  color: #9b9b9b;
}
.ticket-box-responsible {
  top: 57px;
  text-align: right;
  color: #9b9b9b;
}
.alert-group-items > a:hover {
  color: #444444;
}
#account-status-view {
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 1100px;
  float: left;
  position: relative;
  min-height: 1px;
  font-size: 12px;
  margin-left: 30px;
}
.circle-status,
.red-circle,
.green-circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  margin-left: 3px;
  display: inline-flex;
}
.red-circle {
  background-color: red;
}
.green-circle {
  background-color: green;
}
.client-status-col {
  min-width: 130px;
  margin-right: 10px;
  float: left;
}
.acess-status-col {
  min-width: 110px;
  margin-right: 10px;
  float: left;
}
.modules-pattern-col {
  min-width: 350px;
  margin-right: 10px;
  float: left;
}
.modules-contracted-col {
  margin-left: 15px;
  min-width: 350px;
  float: left;
}
/*==================== Definição de classes comuns a vários elementos ====================*/
/*
    Este mixins altera a cor de fundo dos compoenetes de subcoluna, 
    pode ser utilizado para definir a cor de fundo padrão ou quando o elelmento muda de estado, 
    como hover, por exemplo
*/
/*
    Em algumns casos, o componente .k-button pode precisdar receber uma cor diferente da passada para o componente inteiro
*/
.printwayy-generic-1pMp1-hover {
  background-color: #e1eaf6;
  border-color: #e1eaf6;
  color: #444444 !important;
}
.printwayy-generic-column-hover {
  border-right: dashed 1px #444444;
}
.empty-style {
  color: #a9a9a9;
}
.column-header-icon {
  font-size: 15px;
  vertical-align: unset;
  margin-left: 5px;
  display: table-cell;
}
/*==================== Fim da definição de classes comuns a vários elementos ====================*/
/*==================== Definição das classes do grid genérico ====================*/
.printwayy-generic-grid {
  background-color: #ffffff;
  /*========== Definição das classes do header do grid genérico ==========*/
  /*========== Fim da definição das classes do header do grid genérico ==========*/
}
.printwayy-generic-grid.k-grid.k-display-block {
  display: block;
}
.printwayy-generic-grid .k-grid-header {
  border-color: #ffffff;
  border-bottom-color: #000000;
  padding-right: 0 !important;
  margin: 24px 28px 0;
}
.printwayy-generic-grid .k-grid-header .k-grid-header-wrap {
  border-color: #ffffff;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column {
  background-color: #ffffff !important;
  border-color: #ffffff;
  border-right: solid 1px #444444;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column:hover {
  border-right: dashed 1px #444444;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column .k-link {
  display: table-cell;
  white-space: normal;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column .printwayy-column-header-popup {
  font-size: 15px;
  vertical-align: unset;
  margin-left: 5px;
  display: table-cell;
  color: #3770bc;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column .printwayy-column-header-sort {
  font-size: 15px;
  vertical-align: unset;
  margin-left: 5px;
  display: table-cell;
  color: #3770bc;
  padding-right: 4px;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column.k-header {
  text-align: left !important;
  border-bottom: unset !important;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column .printwayy-header-group-1pmp1-tag {
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 0 0.3em;
}
.printwayy-generic-grid .k-grid-header .printwayy-generic-column .printwayy-header-group-1pmp1-tag.k-state-hover {
  background-color: #e1eaf6;
  border-color: #e1eaf6;
  color: #444444 !important;
  background-image: unset;
}
.printwayy-generic-grid .printwayy-generic-cell {
  border-color: #ffffff;
  border-bottom-color: #dbdbdb;
  border-width: 0;
  border-bottom-width: 1px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-word-break: keep-all;
  word-break: keep-all;
  white-space: nowrap;
}
.printwayy-generic-grid .printwayy-generic-cell.printwayy-generic-column-hover {
  border-right: dashed 1px #444444;
}
.printwayy-generic-grid .printwayy-generic-cell span br {
  content: ' ';
}
.printwayy-generic-grid .printwayy-generic-cell span br:after {
  content: ' ';
}
.printwayy-generic-grid tbody tr {
  background-color: #ffffff;
}
.printwayy-generic-grid tbody tr.k-alt {
  background-color: #ffffff;
}
.printwayy-generic-grid tbody tr.k-state-selected,
.printwayy-generic-grid tbody tr.k-alt.k-state-selected,
.printwayy-generic-grid tbody tr:hover {
  background-color: #dbdbdb !important;
  color: #444444 !important;
}
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-sub-column,
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-sub-column,
.printwayy-generic-grid tbody tr:hover .printwayy-sub-column {
  background-color: #dbdbdb;
}
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-sub-column .k-multiselect-wrap,
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-sub-column .k-multiselect-wrap,
.printwayy-generic-grid tbody tr:hover .printwayy-sub-column .k-multiselect-wrap {
  background-color: #dbdbdb;
}
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-sub-column .k-multiselect-wrap .k-input,
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-sub-column .k-multiselect-wrap .k-input,
.printwayy-generic-grid tbody tr:hover .printwayy-sub-column .k-multiselect-wrap .k-input,
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-sub-column .k-multiselect-wrap .k-input[readonly],
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-sub-column .k-multiselect-wrap .k-input[readonly],
.printwayy-generic-grid tbody tr:hover .printwayy-sub-column .k-multiselect-wrap .k-input[readonly] {
  background-color: #dbdbdb;
}
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-sub-column .k-button,
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-sub-column .k-button,
.printwayy-generic-grid tbody tr:hover .printwayy-sub-column .k-button {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-left: 3px solid #a9a9a9 !important;
}
.printwayy-generic-grid tbody tr.k-state-selected .printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default:not(.k-state-hover),
.printwayy-generic-grid tbody tr.k-alt.k-state-selected .printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default:not(.k-state-hover),
.printwayy-generic-grid tbody tr:hover .printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default:not(.k-state-hover) {
  background-color: #ffffff;
}
.printwayy-generic-grid tbody tr td {
  padding: 0.2em 0.6em;
}
.printwayy-generic-grid .k-grid-content {
  width: initial;
  margin-right: 24px;
  margin-left: 24px;
}
.printwayy-generic-grid .k-grid-content.k-auto-scrollable {
  overflow-y: hidden;
}
/*==================== Fim da definição das classes do grid genérico ====================*/
/*==================== Definição das classes do elemento 1pMp1 genérico ====================*/
.label-combo-wayy {
  background-color: #a9a9a9;
  padding: .3em .3em .3em .3em !important;
  min-width: 10px;
}
.printwayy-generic-1pMp1 {
  width: 100%;
}
.printwayy-generic-1pMp1.k-widget {
  border-color: #ffffff;
}
.printwayy-generic-1pMp1.k-dropdown {
  border-left: none;
}
.printwayy-generic-1pMp1.k-dropdown .k-dropdown-wrap.k-state-hover .k-input,
.printwayy-generic-1pMp1.k-dropdown .k-dropdown-wrap.k-state-focused .k-input,
.printwayy-generic-1pMp1.k-dropdown .k-dropdown-wrap.k-state-hover .k-select,
.printwayy-generic-1pMp1.k-dropdown .k-dropdown-wrap.k-state-focused .k-select {
  color: #444444 !important;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default {
  border-color: #ffffff;
  background-color: #f5f5f5;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default.k-state-hover,
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default .k-input:hover,
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default .k-select:hover {
  background-color: #e1eaf6;
  border-color: #e1eaf6;
  color: #444444 !important;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default.k-state-hover .k-input .label-combo-wayy,
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default .k-input:hover .k-input .label-combo-wayy,
.printwayy-generic-1pMp1 .k-dropdown-wrap.k-state-default .k-select:hover .k-input .label-combo-wayy {
  background-color: #6c98d4;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap .k-input {
  line-height: unset;
  white-space: normal;
  display: flex;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap .k-input span {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.printwayy-generic-1pMp1 .k-dropdown-wrap .k-select .k-icon {
  position: initial;
}
.printwayy-generic-1pMp1 label.label-combo-wayy {
  text-indent: 0;
  float: right;
  margin-top: 2px;
  margin-left: auto;
}
.k-list-optionlabel .label-combo-wayy {
  display: none;
}
/*==================== Fim da definição das classes do elemento 1pMp1 genérico ====================*/
/*==================== Definição das classes do elemento SubColumn genérico ====================*/
.printwayy-sub-column.k-multiselect {
  border-color: #ffffff;
  border-left: unset;
}
.printwayy-sub-column.k-multiselect .k-button:hover {
  border-color: #f5f5f5 !important;
  border-left: 3px solid #a9a9a9 !important;
  background-color: #f5f5f5 !important;
}
.printwayy-sub-column .k-multiselect-wrap {
  border-style: unset;
  display: inline-flex;
}
.printwayy-sub-column .k-multiselect-wrap .k-button {
  border-left: 3px solid #a9a9a9;
}
.printwayy-sub-column .k-multiselect-wrap .k-button .k-select {
  display: none;
}
.printwayy-sub-column .k-multiselect-wrap .k-button span:not(.k-select) {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.printwayy-sub-column .k-multiselect-wrap .k-reset {
  display: inline-flex;
}
.printwayy-sub-column .k-multiselect-wrap li {
  padding-right: 0.4em;
}
/*==================== Fim da definição das classes do elemento SubColumn genérico ====================*/
/*==================== Definição das classes dos popos e tooltips que aparecem no grid genérico ====================*/
.k-animation-container .printwayy-genric-popup {
  visibility: hidden;
}
.k-animation-container .printwayy-genric-popup .printwayy-popup-style {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: unset;
  color: #444444;
  min-width: 200px;
  opacity: unset !important;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: unset;
  color: #444444;
  min-width: 200px;
  opacity: unset !important;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip:not(.excel-tooltip) {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: unset;
  color: #444444;
  min-width: 200px;
  opacity: unset !important;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .k-tooltip-content {
  text-align: left;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column {
  background-color: transparent;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap {
  background-color: transparent;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap .k-input,
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap .k-input[readonly] {
  background-color: transparent;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-button {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-left: 3px solid #a9a9a9 !important;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap {
  display: list-item;
  padding-right: unset;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap .k-button {
  margin-right: .3em;
  margin-bottom: .2em;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap .k-button span:not(.k-select) {
  -ms-text-overflow: initial;
  -o-text-overflow: initial;
  text-overflow: initial;
  white-space: initial;
  overflow: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}
.k-animation-container .printwayy-genric-popup.k-widget.k-tooltip .printwayy-sub-column .k-multiselect-wrap .k-reset {
  display: block;
}
.k-animation-container .printwayy-genric-popup.printwayy-genric-header-tooltip {
  margin-left: 10px;
}
.k-animation-container .printwayy-genric-popup .printwayy-genric-header-popup {
  text-align: left;
  white-space: nowrap;
}
/*==================== Fim da definição das classes dos popos e tooltips que aparecem no grid genérico ====================*/
/*==================== Definição das classes do label contador de rows do grid genérico ====================*/
.printwayy-grid-rows-count-label {
  font-family: 'Segoe UI';
  font-size: 14px;
  color: #a9a9a9;
  margin-left: 10px;
  display: inline-block;
}
/*==================== Fim da definição das classes do label contador de rows do grid genérico ====================*/
/*==================== Definição de classes úteis ====================*/
.not-excluded li {
  -ms-word-break: break-word;
  word-break: break-word;
}
/*==================== Fim da definição de classes úteis ====================*/
/*==================== Definição de classes para celulas do tipo texto  ====================*/
.printwayy-text-cell .simple-data-cell {
  white-space: pre;
}
/*==================== Fim da definição de classes para celulas do tipo texto ====================*/
.pw-droptitle,
.pw-droplink,
.pw-droplink:focus,
.pw-droplink:hover {
  color: #444444;
  text-decoration: underline;
  font-weight: bold;
}
.pw-droptitle:hover {
  color: #444444;
  text-decoration: underline;
}
.pw-droplink,
.pw-droplink:focus,
.pw-droplink:hover {
  text-decoration: none;
}
.pw-dropitem {
  margin-left: 30px;
  font-weight: bold;
  color: #6c98d4;
}
.pw-droplist {
  margin-bottom: 14px;
}
.reportNameInput,
.conditionValueInput,
.conditionValueBetweenInput {
  font-size: 14px;
  height: 30px;
  border: 1px solid #dbdbdb;
  padding: 0 5px;
}
.conditionValueInput {
  width: 418px;
}
.conditionValueBetweenInput {
  width: 196.5px;
}
.reportNameInput {
  width: 440px;
}
.conditionValueInput,
.conditionValueBetweenInput {
  padding-right: 0 !important;
}
.conditionValueInput.money2 {
  width: 418px !important;
}
.conditionValueBetweenInput.money2 {
  width: 196.5px !important;
}
.conditionValueInput.money2,
.conditionValueBetweenInput.money2 {
  text-align: left !important;
}
.firstInput,
.conditionValueInput {
  border-left: none !important;
}
.orderColumnsComponents {
  display: flex;
  border-left: none !important;
}
.orderColumnsComponents input {
  border-left: none;
  width: 250px;
}
.counterDetailsInput {
  width: 400px;
}
#genericReportFilterConditionsGrid tr td {
  padding: 5px 0;
}
.reportColumnsContent,
.subColumnRow {
  display: flex;
}
.reportColumnsContent .contentBox {
  width: 450px;
  height: 500px;
  max-height: 500px;
  overflow: auto;
}
.reportColumnsContent .lineSeparator {
  border: 0.5px solid #000000;
}
.k-ff .reportColumnsContent .lineSeparator {
  border-left: none;
}
.reportColumnsContent .contentBox,
.reportColumnsContent .lineSeparator {
  margin: 0 5px;
}
.reportColumnsSelectionTitle {
  font-weight: bold;
  font-size: 12px;
  padding: 2.5px;
}
.availableColumnsTitle {
  background-color: #dbdbdb;
  color: #444444;
  border-bottom: 1px solid #000000;
}
.reportColumnsTitle {
  background-color: #d2e0f2;
  color: #264d81;
  border-bottom: 1px solid #264d81;
}
.columnsSelected,
.noColumnsSelected,
.columnCategory {
  margin: 10px 0;
}
.categoryContent {
  display: none;
}
.columnCategoryItem {
  border: 1px solid #444444;
  width: 120px;
  min-width: 120px;
  text-align: center;
  padding: 5px 0;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.columnCategoryItem:active,
.columnCategoryItemSelected {
  color: #3770bc;
  background-color: #e1eaf6;
  font-weight: bold;
  border: 1px solid #3770bc;
}
.desactivatedIcons {
  color: #dbdbdb;
}
.categoryDisplayName,
.activadedIcons,
.noColumnsSelected {
  color: #a9a9a9;
}
.columnSelectedRow {
  margin: 5px 0;
}
.subColumnsOfColumnSelected,
.subColumnsGrouped {
  margin: 5px 0 10px 22.5px;
}
.subColumnGroup span,
.subColumnGroupSelected span {
  margin-right: 5px;
}
.subColumnRowGroup {
  margin-left: 15px;
}
.subColumnRowInputDiv {
  width: 20px;
}
.subColumnRowInputDivDescription {
  width: 200px;
}
.subColumnsGroupsDivSelected {
  margin: 5px 0 10px 0;
}
.filterConditionsContent {
  height: 400px;
}
.filterConditionLabels,
.addConditionLink {
  font-size: 14px;
}
.conditionFilterElements {
  margin-top: 25px;
}
.filterConditionLabels {
  color: #444444;
  margin-bottom: 5px;
  font-weight: bold;
}
.addConditionLink {
  color: #6c98d4;
  text-decoration: underline;
}
.addConditionLinkDisabled {
  color: #a9a9a9 !important;
  text-decoration: none;
  cursor: default;
}
.secondTextLabel {
  color: #9b9b9b !important;
  margin: 5px 0 10px 0;
}
#reportName_validationMessage {
  width: 314px;
}
.k-edge .input[type='checkbox']:not(:checked) + .selectedRowLabel::after,
input[type='checkbox']:checked + .selectedRowLabel::after,
.k-ie .input[type='checkbox']:not(:checked) + .selectedRowLabel::after,
input[type='checkbox']:checked + .selectedRowLabel::after {
  top: 0.6em;
}
.k-edge input[type='checkbox']:not(:checked) + .selectedRowLabel::before,
input[type='checkbox']:checked + .selectedRowLabel::before,
.k-ie input[type='checkbox']:not(:checked) + .selectedRowLabel::before,
input[type='checkbox']:checked + .selectedRowLabel::before {
  top: 0.2em;
}
.k-edge .selectedRowLabel,
.k-ie .selectedRowLabel {
  padding-left: 15px !important;
}
.counterDetailsLabel {
  width: 120px;
  margin-right: 5px;
}
.counterDetails {
  width: 530px;
}
.counterDetailsInputDiv {
  display: flex;
  margin: 10px 0;
}
.removeInvoices {
  position: relative;
}
.removeInvoices .itensFromCustomerDiv {
  width: 600px;
  margin: 15px 0;
}
.spinner-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.spinner-fading-circle .spinner-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.spinner-fading-circle .spinner-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #264d81;
  border-radius: 100%;
  -webkit-animation: spinner-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: spinner-circleFadeDelay 1.2s infinite ease-in-out both;
}
.spinner-fading-circle .spinner-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.spinner-fading-circle .spinner-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.spinner-fading-circle .spinner-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.spinner-fading-circle .spinner-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.spinner-fading-circle .spinner-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.spinner-fading-circle .spinner-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.spinner-fading-circle .spinner-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.spinner-fading-circle .spinner-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.spinner-fading-circle .spinner-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.spinner-fading-circle .spinner-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.spinner-fading-circle .spinner-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.spinner-fading-circle .spinner-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner-fading-circle .spinner-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner-fading-circle .spinner-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner-fading-circle .spinner-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner-fading-circle .spinner-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner-fading-circle .spinner-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.spinner-fading-circle .spinner-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.spinner-fading-circle .spinner-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.spinner-fading-circle .spinner-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.spinner-fading-circle .spinner-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.spinner-fading-circle .spinner-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes spinner-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
#headway-widget-content #HW_badge_cont {
  display: ruby;
  /*Famigerados IE e Edge*/
  display: contents;
}
#headway-widget-content #HW_badge_cont #HW_badge {
  visibility: hidden;
}
.hw-there-are-news .hw-badge-icon {
  color: #edaa0e;
}
.removeInvoices .ulStyle {
  list-style-type: none;
  margin: 5px 0;
}
#delete-printer-invoice-confirmation-message-tree-view {
  margin: 10px 0 10px 0;
}
#ticketDialog {
  min-width: 1000px;
}
#removeAccountWithEmailSettingsWarningDialog {
  width: 646px;
}
#unfreezeInvoiceWithDeletedPrintersDialog {
  width: 720px;
}
#receiveSupplygrid .flex-centralized{
    padding-top: 0px;
}